/* for phones */
@media screen and (max-width: 480px)    
{
.container {
    width: 100%;
    padding: 0.625em;
}
}
/* for larger phones / small tablets */
@media screen and (min-width: 481px) and (max-width: 767px)    
{
.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 1.25em;
}
}
/* for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px)   
{
.container {
    max-width: 1200px;
    padding: 1.875em;
}
}
* {
    margin: 10px;
    padding: 0;
}
body {
    background-color: black;
    color: gold;
}
.cart {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: gold;
    color: black;
    width: 8em;
    height: 2em;
    font-size: large;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    transition: background 0.2s;
}
.cart:hover {
    background-color: yellow;
}
.cartbtn {
    cursor: pointer;
    width: 10em;
    height: 3em;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    background-color: gold;
    color: black;
    transition: background 0.2s;
}
.cartbtn:hover {
    background-color: yellow;
}
.lotus {
    display: inline-block;
    text-align: center;
}
.swan {
    display: inline-block;
    text-align: center;
}
.arch {
    display: inline-block;
    text-align: center;
}
.names {
    font-style: italic;
    font-size: xx-large;
}
.price1 {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.price2 {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.price3 {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
